html {
  font-size: 16px;
  line-height: 1.25;
  background-color: #e9e9e9;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#contenedor {
	max-width: calc(5 * 16rem);
	min-width: 25em;
	margin: 0 auto;
	.elemento {
		padding: 0;
		border: 1px solid #d9d9d9;
		border-radius: 7%;
		overflow: hidden;
		background-color: white;
		margin: .5em;
		.box{
			img {
				width: 100%;
				border-radius:7%;
			}
			.caja{
				h6 {
					font-size: 20px;
					font-weight: bold;
				}
				p{
					font-size:10px;
				}
			}
		}
	}
}




/* FLEXBOX */

#contenedor {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
}

.elemento {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 calc(50% - 1em);
}

@media screen and ( min-width:30em) {
  .elemento {
    flex: 0 1 calc(33% - 1em);
  }
}

@media screen and ( min-width:48em) {
  .elemento {
    flex: 0 1 calc(25% - 1em);
  }
}

@media screen and ( min-width:62em) {
  .elemento {
    flex: 0 1 calc(20% - 1em);
  }
  h1 {
    font-size: 2em;
  }
}