html {
  font-size: 16px;
  line-height: 1.25;

}
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
	display:inline;
	position:fixed;
	background-color:#fff;
	color:#515151;
	div{
		div{
			display:inline;
			margin-left:42px;
			img{
				width:30px;
				height:30px;

			}
			a{
				color:#515151;
				font-weight:700;
			}
		}
		form{
    width: 50%;
    margin-top: -67px;
    margin-left: 125px;
    background-color:#e9e9e9e;
			div{

				input{}
				label{

				}
			}
		}
	}
}
nav .nav-wrapper .input-field input[type=search] {
    height: 43px;
    margin-left: 9px;
    margin-top: 11px;
    padding-left: 3rem;
    width: calc(100% - 4rem);
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #e9e9e9;
    color: #515151;
    font-weight:700;
}
input:not([type]):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: none;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: none;
    background-color: #e9e9e9;
    color: #515151;
}

nav .input-field label.active i {
    color: #515151;
    margin-top: -85px;
    margin-left: 8px;
    font-weight:700;
}

#contenedor {
	max-width: calc(5 * 16rem);
	min-width: 25em;
	margin: 0 auto;
	.elemento {
		padding: 0;
		border-radius: 7%;
		overflow: hidden;
		background-color: white;
		margin: .5em;
		.box{
			img {
				width: 100%;
				border-radius:7%;
			}
			.caja{
					padding-left:10px;
				h6 {
					font-size: 20px;
					font-weight: 700;
					color:#515151;
				}
				p{
					font-size:15px;
					color:#ADADAD;
				}
				h5{
					font-size:13px;
					color:#ADADAD;
				}
			}
		}
	}
}




/* FLEXBOX */

#contenedor {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
}

.elemento {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 calc(50% - 1em);
}

@media screen and ( min-width:30em) {
  .elemento {
    flex: 0 1 calc(33% - 1em);
  }
}

@media screen and ( min-width:48em) {
  .elemento {
    flex: 0 1 calc(25% - 1em);
  }
}

@media screen and ( min-width:62em) {
  .elemento {
    flex: 0 1 calc(20% - 1em);
  }
}